/* .main-div {
  align-content: center;
  background-color: rgb(14, 35, 42);
  height: 100%;
  width: 99.2%;
  border: 3px solid cadetblue;
  padding-bottom: 310px;
} */

.login-main {
  background-color: #063970;
  height: 250px;
  width: 200px;
  border: 3px solid grey;
  border-radius: 10px;
  padding: 20px 100px 70px 10px;
  margin-top: 50px;
  margin-left: 400px;
  margin-right: 400px;
  box-shadow: grey 50px;
}

.login-form {
  margin: 20px;
  align-content: center;
}

.login-name {
  font-size: 18px;
  font-weight: bold;
  margin-top: 0px;
  height: 50px;
  width: 250px;
  border: 3px solid grey;
}

.submit-btn {
  margin: 25px 10px 100px 80px;
  align-items: center;
  border-radius: 10px;
  height: 40px;
  width: 80px;
  font-weight: bold;
  border: 3px solid grey;
}

:hover.submit-btn {
  color: white;
  background-color: #09d319fd;
}
