/* .main-div {
  align-content: center;
  background-color: rgb(14, 35, 42);
  height: 100%;
  width: 99.2%;
  border: 3px solid cadetblue;
  padding-bottom: 310px;
} */

.login-main {
  background-color: rgb(42, 21, 14);
  height: 250px;
  width: 200px;
  border: 3px solid rgb(161, 160, 161);
  border-radius: 10px;
  padding: 20px 100px 70px 10px;
  margin-top: 50px;
  margin-left: 490px;
  box-shadow: white 50px;
}

.login-form {
  margin: 20px;
  align-content: center;
}

.login-name {
  font-size: 18px;
  font-weight: bold;
  margin-top: 0px;
  height: 50px;
  width: 250px;
  border: 3px solid rgb(161, 160, 161);
}

.submit-btn {
  margin: 25px 10px 100px 70px;
  align-items: center;
  border-radius: 5px;
  height: 50px;
  width: 100px;
  font-weight: bold;
  border: 3px solid rgb(161, 160, 161);
}
